<!doctype html>
<html>

  {{!-- Head --}}
  <head>
    <meta charset='utf8'/>
    <link rel='icon' href='/favicon.ico'/>

    {{!-- Metatags --}}
    {{#with meta}}
      <title>{{ pageTitle }}</title>

      {{!-- Apple --}}
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

      {{!-- Open Graphs --}}
      <meta property="og:image" content="{{ image }}" itemprop="image primaryImageOfPage"/>
      <meta property="og:type" content="website"/>
      <meta property="og:title" content="{{ pageTitle }}" name="title" itemprop="title name"/>

      {{!-- Twitter metas --}}
      <meta name="twitter:domain" content="boilerplate.com"/>
      <meta name="twitter:card" content="summary"/>

      {{#if description}}
        <meta name='description' content='{{ description }}'/>
        <meta property="og:description" content="{{ description }}" name="description" itemprop="description"/>
      {{/if}}

      {{#if keywords}}
        <meta name='keywords' content='{{ keywords }}'/>
      {{/if}}

      {{#if canonical}}
        <link rel='canonical' href='{{ canonical }}'/>
        <meta property="og:url" content="{{ canonical }}"/>
      {{/if}}

      {{#if robots}}
        <meta name='robots' content='{{ robots }}'/>
      {{/if}}

    {{/with}}

    {{!-- Production Stylesheets --}}
    {{#if productionStyleSrc}}
      <link rel='stylesheet' href='{{ productionStyleSrc }}'/>
    {{/if}}

    {{!-- Development Stylesheets --}}
    {{#unless useBuild}}
      <link rel='stylesheet' href='/vendor/css/foundation.min.css'/>
      <link rel='stylesheet' href='/vendor/css/vanillatoasts.css'/>
      <link rel='stylesheet' href='/build/css/style.css'/>
    {{/unless}}

    {{!-- SegmentIO script --}}
    {{#if segmentKey}}
      <script>!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";analytics.load('{{ segmentKey }}');}}();</script>
    {{/if}}

    {{!-- Facebook Pixel Tracking ID --}}
    {{#if facebookPixelID }}
      <script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','//connect.facebook.net/en_US/fbevents.js');fbq('init', '{{ facebookPixelID }}');fbq('track', "PageView");</script>
      <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={{ facebookPixelID }}&ev=PageView&noscript=1"/></noscript>
    {{/if}}

  </head>

  {{!-- Body --}}
  <body>

    {{!-- Initialized Client's HTML --}}
    <div id='react-container'>{{{ body }}}</div>

    <div id='scripts'>

      {{!-- Serialized State --}}
      {{#if serializedState}}
        <script id='serialized-state'>window.__INITIAL_STATE__ = '{{ serializedState }}';</script>
      {{/if}}

      {{!-- Production scripts --}}
      {{#if productionBundleSrc}}
        <script src={{ productionBundleSrc }}></script>
      {{/if}}

      {{!-- Development scripts --}}
      {{#unless useBuild}}
        <script src='{{ host }}:8001/build/bundle.js'></script>
      {{/unless}}
    </div>

  </body>
</html>