<!doctype html>
<html>

  {{!-- Head --}}
  <head>
    <meta charset='utf8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, height=device-height, viewport-fit=cover">
    <link rel='icon' href='/favicon.ico'/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    {{!-- Metatags --}}
    {{#with meta}}
      <title>{{ pageTitle }}</title>

      {{!-- Apple --}}
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

      {{!-- Open Graphs --}}
      <meta property="og:image" content="{{ image }}" itemprop="image primaryImageOfPage"/>
      <meta property="og:type" content="website"/>
      <meta property="og:title" content="{{ pageTitle }}" name="title" itemprop="title name"/>

      {{!-- Twitter metas --}}
      <meta name="twitter:domain" content="whiteroom.com"/>
      <meta name="twitter:card" content="summary"/>

      {{#if description}}
        <meta name='description' content='{{ description }}'/>
        <meta property="og:description" content="{{ description }}" name="description" itemprop="description"/>
      {{/if}}

      {{#if keywords}}
        <meta name='keywords' content='{{ keywords }}'/>
      {{/if}}

      {{#if canonical}}
        <link rel='canonical' href='{{ canonical }}'/>
        <meta property="og:url" content="{{ canonical }}"/>
      {{/if}}

      {{#if robots}}
        <meta name='robots' content='{{ robots }}'/>
      {{/if}}

    {{/with}}

    {{!-- Bundle Stylesheets --}}
    {{#if bundleStyleSrc}}
      <link rel='stylesheet' href='{{ bundleStyleSrc }}'/>
    {{/if}}

    {{!-- Hide everything until CSS is loaded when using inlined styles --}}
    {{!-- This should not be present in production --}}
    {{!-- TODO --}}
    {{#unless bundleStyleSrc}}
      <style>
        html {
          display: none;
        }
      </style>
    {{/unless}}

    {{!-- SegmentIO script --}}
    {{#if segmentKey}}
      <script>
        !function(){var i="analytics",analytics=window[i]=window[i]||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","screen","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware","register"];analytics.factory=function(e){return function(){if(window[i].initialized)return window[i][e].apply(window[i],arguments);var n=Array.prototype.slice.call(arguments);if(["track","screen","alias","group","page","identify"].indexOf(e)>-1){var c=document.querySelector("link[rel='canonical']");n.push({__t:"bpc",c:c&&c.getAttribute("href")||void 0,p:location.pathname,u:location.href,s:location.search,t:document.title,r:document.referrer})}n.unshift(e);analytics.push(n);return analytics}};for(var n=0;n<analytics.methods.length;n++){var key=analytics.methods[n];analytics[key]=analytics.factory(key)}analytics.load=function(key,n){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.setAttribute("data-global-segment-analytics-key",i);t.src="https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";var r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r);analytics._loadOptions=n};analytics._writeKey="{{ segmentKey }}";;analytics.SNIPPET_VERSION="5.2.1";
        analytics.load('{{ segmentKey }}');
        }}();
      </script>
    {{/if}}
  </head>

  {{!-- Body --}}
  <body>

    {{!-- Initialized Client's HTML --}}
    <div id='react-container'>{{{ body }}}</div>

    <div id='scripts'>
      {{!-- Serialized State --}}
      {{#if serializedState}}
        <script id='serialized-state'>window.__INITIAL_STATE__ = '{{ serializedState }}';</script>
      {{/if}}

      {{!-- Bundle --}}
      {{#if bundleSrc}}
        <script src={{ bundleSrc }}></script>
      {{/if}}

      {{!-- Development scripts --}}
      {{#unless useBuild}}
        <script src='{{ hostname }}:{{ webpackDevelopmentServerPort }}/build/bundle.js'></script>
      {{/unless}}
    </div>

  </body>
</html>
